* {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam', sans-serif;
}

.highlight {
    font-size: 1.3em;
    color: crimson;
    
}

.unfocus {
    font-size: .75em;
    font-weight: normal;
}

.showcase {
    text-align: center;
    background-color: #09004f;
    background-size: 100vw 50vh;
    height: 50vh;
    font-size: 2em;
    color: white;
}

.showcase .content-wrap {
    padding: 10vh;
}

.showcase .content-wrap h1 {
    color: crimson;
}

main .content-wrap .content {
    margin-top: 2em;
    width: 69vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
    line-height: 1.5em;
}

p {
    margin-top: 1.05em;
    margin-bottom: 1.05em;
}

#macandcheese h1 {
    margin-bottom: 25px;
}
#donate {
    text-align: center;
}
#donate a{
    color: #09004f;
    background-color: #fcee26;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 150px;
}

img {
    width: 50%
}